* {
  box-sizing: border-box;
}

html {
  overflow-y: auto;
  font-size: 62.5%;
}

p {
  margin: 0;
}

body {
  font-size: 1.6rem;
  font-family: $font-family;
  font-weight: $font-weight-normal;
  margin: 0;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
}

label {
  cursor: pointer;
}

input[type="text"] {
  font-size: inherit;
}

img {
  display: flex;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

a {
  color: unset;
  text-decoration: none;
  z-index: 1;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.app-text {
  color: $black;
  line-height: 1.3;
}

.app-text--xs {
  font-size: $font-size-xs;
}

.app-text--sm {
  font-size: $font-size-sm;
}

.app-text--md {
  font-size: $font-size-md;
}

.text-center {
  text-align: center;
}

.app-heading--lg {
  font-size: $heading-font-size-xs;
  font-weight: $font-weight-normal;
  line-height: 1.2;

  @media(min-width: $md) {
    font-size: $heading-font-size-lg;
  }
}

.app-text--lg {
  font-size: $font-size-sm;

  @media(min-width: $md) {
    font-size: $font-size-lg;
  }
}

.d-sm-block {
  display: none !important;

  @media(min-width: $sm) {
    display: block !important;
  }
}

.d-md-block {
  display: none !important;

  @media(min-width: $md) {
    display: block !important;
  }
}

.d-lg-block {
  display: none !important;

  @media(min-width: $lg) {
    display: block !important;
  }
}

.d-sm-flex {
  display: none !important;

  @media(min-width: $sm) {
    display: flex !important;
  }
}

.d-md-flex {
  display: none !important;

  @media(min-width: $md) {
    display: flex !important;
  }
}

.d-lg-flex {
  display: none !important;

  @media(min-width: $lg) {
    display: flex !important;
  }
}

.d-md-none {
  @media(max-width: $md-max) {
    display: none !important;
  }
}

.text-center {
  text-align: center;
}